html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

html, body {
    height: 100%;
}

a {
	text-decoration: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
	max-width: 1440px;
	width: 100%;
	margin: 0 auto
}

.container {
    max-width: 1110px;
    margin: auto;
    padding: 0 15px;
}

/* ------ Header ------- */
.header {
    background: #F8F6F7 url('./images/header-background.png');
	overflow: hidden;
	flex-shrink: 0;
	
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto contain;
}

.header__container {
    position: relative;
    padding: 30px 0 136px;
}

.header__top {
	display: flex;
	justify-content: space-between;
    margin-bottom: 120px;

}

.logo {
    display: inline-block; /*перенести в класс header__logo? */
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #333;
}

.header__logo {

}

.navigation {

}

.header__nav {
    padding: 0;
    margin: 0;
}

.navigation__list {
    list-style: none;
    display: flex;
    padding: 0;
	margin-block-start: 0px;
	margin-block-end: 0px; 
}

.navigation__item:not(:last-child) {
    margin-right: 28px;
}

.navigation__link {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    color: #333;
    transition: .15s color;
}

.navigation__link:hover {
    color: #00BF78;
}

.header-phone {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.header__phone {

}

.header-phone__number {
    font-size: 18px;
    line-height: 14px;
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
}

.header-phone__schedule {
    font-size: 11px;
    line-height: 14px;
    font-weight: 400;
    color: #333;
}

.hero {
	max-width: 540px;
}

.header__hero {
    z-index: 2;
}

.hero__title {
	font-size: 48px;
    line-height: 59px;
    font-weight: 600;
	margin-block-start: 0px;
	margin-block-end: 17px;	    
}

.hero__subtitle {
	font-size: 20px;
    line-height: 24px;
    font-weight: 400;
	margin-block-start: 0px;
	margin-block-end: 59px;    
}

.btn {
	max-width: 112px;
	height: 100%;
	background-color: #FB9475;
	border-radius: 17px;
	border: none;
	text-align: center;
	font-size: 12px;
    line-height: 14px;
    font-weight: 500;
	color: #FFFFFF;
    padding: 10px 20px;
}

.btn_large {
    max-width: 203px;
    font-size: 14px;
	border-radius: 24px;
    padding: 17px 30px;
}

.social {
    display: flex;
    list-style: none;
}

.social_vertical {
    flex-direction: column;   
}

.header__social {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
}

.social__item {
    max-height: 28px;
    max-width: 28px;
}

.social__item:not(:last-child) {
    margin-bottom: 20px;

}

.social__link {

}

.ellipse {
	width: 472px;
    height: 472px;
    border-radius: 50%;
    background-color: #FB9475;
}

.header__ellipse {
    position: absolute;
    top: 229px;
	right: 93px;
}

.girl {

}

.header__girl {
	position: absolute;
    top: 81px;
	right: 93px;
}




/* ------ Main ------- */
.main {
    flex: 1;
}

.section {

}

.section__container {
    position: relative;
    padding: 100px 15px 0;
}

.section__header {

}

.section__title {
	font-size: 48px;
    font-weight: 700;
	line-height: 59px;
	margin-block-start: 0px;
	margin-block-end: 32px;
}

.section__inner {
    position: relative;  
}

.about-inner {

}

.about-inner__text {
	max-width: 540px;
    position: relative;
}

.about-inner__subtitle {
	font-size: 20px;
    font-weight: 400;
	line-height: 32px;
    margin-block-start: 0px;
	margin-block-end: 16px;
}

.about-inner__description {
	font-size: 16px;
    font-weight: 400;
	line-height: 26px;
	margin-block-start: 0px;
	margin-block-end: 16px;
}

.about-inner__link {
	text-decoration-line: none;
	color: #278AFF;
}

.about-inner__video {
    border-radius: 8px;
    overflow: hidden;
	position: absolute;
 	right: 0px;
	bottom: 6px;
    border: none;
    outline: 0;
    cursor: pointer;
    object-fit: cover;
    padding: 0;
}

.about-inner__video:before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background: url('./images/play-icon.svg') no-repeat center;
    z-index: 3;
    transition: 0.15s;
}

.about-inner__video:hover::before {
    transform: scale(1.1) translateX(-45%);    
}

.about-inner__video-overlay {
    background: #000;
    opacity: 0.2;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
}

.about-inner__video-overlay:after {
    content: 'Короткое видео о нас';
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    position: absolute;
    text-align: center;
    z-index: 3;
    top: 168px;
    left: 0;
    right: 0;
    color: #fff;
}

.about-inner__video-img {
    min-width: 297px;
    max-width: 445px;
    width: 100%;
    height: 297px;
    display: block;
}




















/* ------ Footer ------- */

.footer {
	flex: 0;
}

.footer__container {
    position: relative;
    padding: 20px 0 20px;
	display: flex;
	justify-content: space-between;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
	align-items: center;
}

.copyright {

}

.copyright__text {

}

.copyright__link {
	text-decoration-line: underline;
	color: #278AFF;
}