html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

html, body {
    height: 100%;
}

a {
	text-decoration: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
	max-width: 1440px;
	width: 100%;
	margin: 0 auto
}

.container {
    max-width: 1110px;
    margin: auto;
    padding: 0 15px;
}

/* ------ Header ------- */
.header {
    background: #F8F6F7 url('./images/header-background.png');
	overflow: hidden;
	flex-shrink: 0;
	
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto contain;
}

.header .container {
    position: relative;
    padding: 30px 0 136px;
}

.header__top {
	display: flex;
	justify-content: space-between;
    margin-bottom: 120px;
    align-items: baseline;
}

.logo {
    display: inline-block; /*перенести в класс header__logo? */
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #333;
}

.header__logo {

}

.navigation {

}

.header__nav {
    padding: 0;
    margin: 0;
}

.navigation__list {
    list-style: none;
    display: flex;
}

.navigation__item:not(:last-child) {
    margin-right: 28px;
}

.navigation__link {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    color: #333;
    transition: .15s color;    
}

.navigation__link:hover {
    color: #00BF78;
}

.header-phone {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.header__phone {

}

.header-phone__number {
    font-size: 18px;
    line-height: 14px;
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
}

.header-phone__schedule {
    font-size: 11px;
    line-height: 14px;
    font-weight: 400;
    color: #333;
}





/* ------ Main ------- */
.main {
    flex: 1;
}

.main .container {
    position: relative;
    padding: 30px 0 0;
}

/* ------ Footer ------- */

.footer {
	flex: 0;
}


